/* GERAL ============================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */
}

// colors
$red: hsl(354, 74%, 42%);
$white: hsl(0, 0, 100%);
$primary-color: hsl(0, 0%, 15%);
$secondary-color: hsl(0, 0%, 22%);
$tertiary-color: hsl(0, 0%, 51%);
$discount-color: hsl(103, 55, 53);

$footer-color: hsl(0, 0, 11%);
$contact-bg: hsl(0, 0, 8%);

// font-size
$font-paragraph: 1.4rem;

p {
    margin: 0;
}

ul {
    list-style: none;
}

figure {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

// mixin
@mixin display {
    display: flex;
    align-items: center;
}

/* MENU ============================================== */

.wrapper {
    @include display;
    justify-content: space-between;
    margin: 1.1rem 0;
}

form.form-search {
    display: flex;

    input.page-search {
        width: 26rem;
        height: 3rem;
        padding: 0.25rem 0.5rem;
        border: 1px solid #A4A4A4;
        &:active {
            border: 1px solid #A4A4A4;
        }
    }
    button {
        width: 4rem;
        background: $primary-color;
        border: 0;
    }
}

.login {
    @include display;
    font-size: $font-paragraph;
    gap: 1.1rem;


    p a {
        color: $primary-color;
        text-decoration: none;
    }
}

div.collapse {
    display: flex;
    justify-content: center;
}
nav.navbar {
    @include display;
    height: 4.0rem;

    color: $white;
    background-color: $primary-color;

    ul {
        display: flex;
        justify-content: center;
        gap: 3.0rem;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;

        a {
            color: $white;
            font-size: $font-paragraph;
            text-decoration: none;
            padding: 1.2rem 1rem;

            &:hover {
                color: $red;
                background-color: $white;
            }
        }
    } 
}


/* advantage */
.advantage {
    background-color: $primary-color;

    section {
        display: flex;
        justify-content: space-around;
        background: $secondary-color;
    }

    section > div {
        @include display;
        justify-content: space-around;
        gap: 1.7rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    
        color: $white;
        font-size: $font-paragraph;
    }
}


/* CARDS ===================================================== */
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;

    margin-top: 2.5rem;

    .card {
        flex-grow: 1;
        border: none;

        img {
            width: 100%;
        }

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            height: 5.4rem;
            padding: 0 1rem;
            background-color: #F4F4F4;
        }
        a {
            font-size: 1.5rem;
            color: $tertiary-color;
            text-decoration: none;
        }
    }
}
/* PRODUCT ===================================================== */

.title-product {
    font-size: 1.8rem;
    margin: 2.5rem 0 ;
    
    span {
        font-size: 2.5rem;
        font-family: 'Piedra', cursive;
    }
}

.product {
    gap: 3rem;

    .card {
        padding: 2rem 1.5rem;
        gap: 3rem;
        border-radius: 0;
        border: 1px solid $tertiary-color;
    }
    .card .star {
        justify-content: center;
        display: flex;
        gap: 15rem;

    }
    .card .discount {
        color: $white;
        font-size: 1.5rem;
        padding: 1rem;
        border-radius: 8px;
        background: $discount-color;
    }
    .card .card-body h5 {
        font-size: 1.6rem;
    }
    .card .card-body div {
        display: flex;
        gap: 4rem;
        align-items: center;

        color: $tertiary-color;
        font-size: 1.4rem;

        span {
            color: $secondary-color;
            font-size: 3rem;
            font-weight: bold;
        }
    }
}

/* FOOTER ===================================================== */
.contact {
    display: flex;
    padding: 2rem 6rem;
    background-color: $contact-bg;
    margin-top: 7rem;

    h3 {
        color: $red;
        font-size: 1.2rem;
    }
    ul {
        padding: 0;
    }
    a {
        color: white;
        font-size: 1.2rem;
        text-decoration: none;
    }
    div {
        color: white;
        font-size: 1.2rem;

        .tel-email {
            display: block;
            
            div {
                display: flex;
                gap: 1rem;
                margin-bottom: 1.5rem;
            }
        }
        .institutional {
            display: block;
        }
        .doubts {
            display: block;
        }
        .shopping {
            display: block;
        }
        .social-media {
            display: flex;
            justify-content: flex-end;
            gap: 2rem;
        }
    }
}

footer {
    display: flex;
    align-items: center;

    color: white;
    font-size: 1.1rem;
    background-color: $footer-color;
    height: 3.3rem;

    div.container {
        display: flex;
        justify-content: space-between;
    }
}



@media (max-width: 992px) {
    // header nav
    button.navbar-toggler {
        background-color: $white;
    }
    div.navbar-collapse {
        position: relative;
        z-index: 10;
        margin-top: 9px;
        display: block;
    }
    nav.navbar ul {
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        background-color: $white;
        li a {
            color: $red;
        }
    }

    // footer
    .contact div .social-media {
        display: flex;
        justify-content: start;
    }
    .contact div {
        .institutional {
            display: none;
        }
        .doubts {
            display: none;
        }
        .shopping {
            display: none;
        }
    }
    footer div {
        display: block;
    }
}